/*

#2ecc71

*/

/*------------------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto Mono', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ----- HEADINGS -----*/
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
}

/* ----- BUTTONS -----*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration:none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.02s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn:hover,
.btn:active {
    background-color: #25a25a;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #25a25a;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #25a25a;
    color: #fff;
}

/*------------------------------------------------------*/
/* HEADER */
/*------------------------------------------------------*/

header {
    background-image: url(img/4002676.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    letter-spacing: 3px;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2ecc71 ;
}